<md-dialog md-theme="default">
    <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
        <h2 class="md-title">Change Password</h2>
        <md-input-container md-no-float class="md-prompt-input-container">
            <input md-autofocus ng-model="result" +
                   placeholder="Enter Password" type="password">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button
                ng-click="cancel()" class="md-primary md-cancel-button">
            Cancel
        </md-button>
        <md-button ng-click="ok()" class="md-primary md-confirm-button">
            Change
        </md-button>
    </md-dialog-actions>
</md-dialog>