#
# smartFarm - https://github.com/smartfarm/smart-farm.git
#
# Copyright (c) 2017 smartFarm
#

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,json}]
indent_style = space
indent_size = 2

[*.md]
indent_style = tab
indent_size = 4

