#
# smartFarm - https://github.com/smartfarm/smart-farm.git
#
# Copyright (c) 2017 smartFarm
#

# Jetbrains Editors
.idea/
*.iml

# Node & NPM
node_modules/
npm-debug.log

# JSDoc
jsdoc/
apidoc/

# Settings
