$cl_area_blue: #2196F3;
$cl_area_blue_light: #B3E5FC;
$cl_area_green: #43A047;
$cl_area_green_light: #A5D6A7;
$cl_green_light: #b9f6ca;
$cl_area_red: #EF5350;
$cl_area_red_light: #EF9A9A;
$cl_blue: #3f51b5;
$cl_pink: #7986cb;
$cl_grey: #3b4e40;