<div class="calculator-wrapper">
    <div layout="column" layout-align="center center">
        <div class="md-block title">
            <span>{{vmCalculator.equation}} {{vmCalculator.equation.length?"=":""}} &nbsp;</span>
            <div class="text">$ {{vmCalculator.result}}</div>
        </div>
        <div flex class="calculator" ng-init="$calculator=[[1,2,3, '-'],[4,5,6,'+'],[7,8,9, '.']]">
            <div layout="row" layout-align="center center" ng-repeat="group in $calculator">
                <div ng-repeat="n in group">
                    <a md-ink-ripple="#FF0000" class="md-whiteframe-2dp" ng-click="vmCalculator.addNumber(n)"
                       ng-class="{'invisible': n == null}">
                        {{n}}
                    </a>
                </div>
            </div>
            <div layout="row" layout-align="center center">
                <div>
                    <a ng-click="vmCalculator.removeBackNumber()" >
                        <i class="material-icons"  style="font-size: 35px;">backspace</i>
                    </a>
                </div>
                <div>
                    <a ng-click="vmCalculator.addNumber(0)">
                        0
                    </a>
                </div>
                <div>
                    <a ng-click="vmCalculator.clear()">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div>
                    <md-button class="md-fab md-warn" ng-click="vmCalculator.ok()"
                               ng-disabled="vmCalculator.result <= 0">
                        OK
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>