<div class="field-map-wrapper" map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="{{vm.googleMapsUrl}}">
    <ng-map center="37.499107, -122.046051" zoom="10"
            map-type-control="true"
            map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}">
        <!--<drawing-manager-->
        <!--on-overlaycomplete="vm.onMapOverlayCompleted()"-->
        <!--drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"-->
        <!--drawingControl="{{vm.drawer.show}}"-->
        <!--drawingMode="{{vm.drawer.mode}}"-->
        <!--PolygonOptions="{fillColor:'#adff2f',strokeColor:'#adff2f',draggable:true}">-->
        <!--</drawing-manager>-->
    </ng-map>
   <!-- <div class="control-bar">
        <ul class="list-unstyled">
            <li>
                <md-button class="md-fab md-mini" aria-label="clear" ng-show="vm.showCreateZoneForm||vm.showCreateHubForm" ng-click="vm.reset()">
                    <md-icon>
                        <i class="material-icons">clear</i>
                    </md-icon>
                    <md-tooltip
                            md-direction="left">
                        clear
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button class="md-fab md-mini md-primary" ng-disabled="vm.showCreateZoneForm||vm.showCreateHubForm"
                           ng-click="vm.placeMarker()" aria-label="add hub">
                    <md-icon>
                        <i class="material-icons">add_location</i>
                    </md-icon>
                    <md-tooltip
                            md-direction="left">
                        add hub
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button class="md-fab md-mini md-primary" ng-disabled="vm.showCreateZoneForm||vm.showCreateHubForm"
                           ng-click="vm.drawPolygon()" aria-label="add zone">
                    <md-icon>
                        <i class="material-icons">format_shapes</i>
                    </md-icon>
                    <md-tooltip
                            md-direction="left">
                        draw zone
                    </md-tooltip>
                </md-button>
            </li>
        </ul>
    </div>-->

    <div class="details-panel cssSlideUp ng-hide"
         ng-show="vm.showCreateZoneForm">
        <form name="createZoneForm">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Reservoir: {{vm.selectedR.reservoirName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <p>Capacity: {{vm.selectedR.reservoirCapacity}} Acre-feet</p>
                    <p>State: {{vm.selectedR.reserviorState}}</p>
                    <p>Location: {{vm.selectedR.reservoirLat}}, {{vm.selectedR.reservoirLng}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="vm.reset()">Close</md-button>
                </md-card-actions>
            </md-card>

        </form>
    </div>
    <!--<div class="details-panel cssSlideUp ng-hide" ng-init="vm.showCreateHubForm = false" ng-show="vm.showCreateHubForm">-->
        <!--<form name="createHubForm">-->
            <!--<md-card>-->
                <!--<md-card-title>-->
                    <!--<md-card-title-text>-->
                        <!--<span class="md-headline">Create Hub</span>-->
                    <!--</md-card-title-text>-->
                <!--</md-card-title>-->
                <!--<md-card-content layout="column">-->
                    <!--<div flex layout-gt-md="row" layout="column">-->
                        <!--<md-input-container class="md-block" flex>-->
                            <!--<label>Mac Address</label>-->
                            <!--<input name="mac" ng-model="vm.addHubCtrl.data.mac" maxlength="100" required>-->
                            <!--<div ng-messages="createHubForm.mac.$error">-->
                                <!--<div ng-message="required">This is required.</div>-->
                            <!--</div>-->
                        <!--</md-input-container>-->
                    <!--</div>-->
                    <!--<div flex layout-gt-md="row" layout="column">-->
                        <!--<md-input-container class="md-block" flex>-->
                            <!--<label>Latitude</label>-->
                            <!--<md-icon><i class="material-icons">location_on</i></md-icon>-->
                            <!--<input required name="lat" type="number" ng-model="vm.addHubCtrl.data.lat" maxlength="20">-->
                            <!--<div ng-messages="createHubForm.lat.$error">-->
                                <!--<div ng-message="required">This is required.</div>-->
                            <!--</div>-->
                        <!--</md-input-container>-->

                        <!--<md-input-container class="md-block" flex>-->
                            <!--<label>Longitude</label>-->
                            <!--<md-icon><i class="material-icons">remove</i></md-icon>-->
                            <!--<input required name="lng" type="number" ng-model="vm.addHubCtrl.data.lng" maxlength="20">-->
                            <!--<div ng-messages="createHubForm.lng.$error">-->
                                <!--<div ng-message="required">This is required.</div>-->
                            <!--</div>-->
                        <!--</md-input-container>-->
                    <!--</div>-->
                <!--</md-card-content>-->
                <!--<md-card-actions layout="row" layout-align="end center">-->
                    <!--<md-button class="md-primary md-raised" ng-click="vm.createNewHub()">Create</md-button>-->
                    <!--<md-button ng-click="vm.reset()">Cancle</md-button>-->
                <!--</md-card-actions>-->
            <!--</md-card>-->

        <!--</form>-->
    <!--</div>-->
</div>